nav{
  position: fixed;
  top: 5%;
  left: 0%;
  width: 100%;
  padding: 1px 150px;
  transition: 0.5s;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.521) ;
}
nav .logo img{
  float: left;
  width: 100px;
  transition: 0.5s;
  margin: 10px;
}
nav.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
nav.black{
  background: rgba(0,0,0,.8);
  transition: 0.8s; 
  padding: 0% 0% 
}
nav.black ul li a{
  color: antiquewhite
}
nav.black .logo img{
  width: 80px;
}
nav ul{ 
  float: right;
list-style-type: none;
margin-top: 25px;
display: flex;
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  padding: 5px 20px;
  border: 1px transparent;
  color: black;
  text-transform: uppercase;
  transition: 0.5s;
  text-decoration: none;
  line-height: 50px;
}
nav ul li a.active,
nav ul li a:hover {
  color: aliceblue;
  background-color: slategrey;
  transition: .5s;
}

section.sec1{
  width: 100%;
  background: url(book-quotes-1531945007.jpg);
  background-size: cover;
  height: 60ch;
  background-attachment: fixed;
}
.button
{
	width: 140px;
	padding:5px 20px;
	background-color:lightblue;
	box-shadow: -8px 8px 10px 3px rgba(0,0,0,0.2);
  font-weight:bold;
  text-decoration:none;
  float:left;
  
  margin-top:-40px;
  border-color:black;
}
#cover{
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    z-index:5;
    width:200%;
    height:100%;
    display:none;
}
#loginScreen
{
    height:500px;
    width:550px;
    margin:0 auto;
    position:relative;
    z-index:10;
    display:none;
    border:5px solid #cccccc;
	  border-radius:10px;
}
#loginScreen:target, #loginScreen:target + #cover{
    display:block;
    opacity:2;
}
.cancel
{
    display:block;
    position:absolute;
    top:3px;
    right:2px;
    background:rgb(245,245,245);
    color:black;
    height:40px;
    width:35px;
    font-size:30px;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
}
#loginscreen h{
    font-size:20px;

}
.main h{
    font-size:30px;
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left:90px;
    margin-top:80px;
    font-weight:bold;
}
.main input[type=text]{
    width:20%;
    padding:5px;
    margin-left:150px;
    border-color:black;
    font-weight:bold;
}
.main input[type=submit]{
    width:40%;
    padding:5px;
    margin-left:110px;
    padding:5px;
    font-size:20px;
    border-color:black;
    border-style: double;
    background-color:blue;
    font-weight:bold;
}
.main input[type=number]{
    width:20%;
    padding:5px;
    margin-left:150px;
    border-color:black;
}
.main input[type=text]:focus{
    background-color: lightblue;
    width:80%;
    margin-left:30px;
    
 }
.main input[type=submit]:focus{
   background-color:lightblue;
}
.main input[type=number]:focus{
   background-color:lightblue;
   width:80%;
   margin-left:30px;
}

.dropbtn{
	
	
	padding:16px;
	
}
.dropdowwn{
	position:relative;
	display:inline-block;
}
.dropdown-content{
	display:none;
	position:relative;
	background-color: #f1f1f1;
	min-width:160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,2);
  z-index:1;
  color:black;

}
.dropdown-content a{
	color:black;
	padding:12px 16px;
	text-decoration:none;
  display:block;
  font-weight: bold;
  
}

.dropdown-content a:hover{
  background-color:#ddd;
  color:black;

}
.dropdown:hover .dropdown-content{
  display:block;
  color:black;
}
