nav{
  position: fixed;
  top: 5%;
  left: 0%;
  width: 100%;
  padding: 1px 150px;
  transition: 0.5s;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.521) ;
}
nav .logo img{
  float: left;
  width: 100px;
  transition: 0.5s;
  margin: 10px;
}
nav.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
nav.black{
  background: rgba(0,0,0,.8);
  transition: 0.8s; 
  padding: 0% 0% 
}
nav.black ul li a{
  color: antiquewhite
}
nav.black .logo img{
  width: 80px;
}
nav ul{ 
  float: right;
list-style-type: none;
margin-top: 25px;
display: flex;
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  padding: 5px 20px;
  border: 1px transparent;
  color: black;
  text-transform: uppercase;
  transition: 0.5s;
  text-decoration: none;
  line-height: 50px;
}
nav ul li a.active,
nav ul li a:hover {
  color: aliceblue;
  background-color: slategrey;
  transition: .5s;
}

section.sec1{
  width: 100%;
  background: url(book-quotes-1531945007.jpg);
  background-size: cover;
  height: 60ch;
  background-attachment: fixed;
}